<h1>comments index</h1>
<% @comments.each do |c| %>
<div><%= c.content %></div>

<% end %>
<div><h1>COMMENT</h1></div>
<div><%= form_for Comment.new do |f| %></div>
<div><%= f.text_area :content %></div>
<div><%= f.submit %></div>
<% end %>