<h3>Create  an event</h3>

<%= form_for @gathering do |f| %>
  
<div>Title:<%= f.text_field :title %></div><br>
<div>Gathering: <%= f.text_area :content %></div><br>
	<div><%= f.submit %></div>
<% end %>
